
.register-wrapper{
  display: grid;
  margin: auto;

  .register {
    width: 400px;
    height: 450px;
    border-radius: 4px;
    margin: 1em auto;
    padding: 1em 1.5em;
    font-size: 2rem;
    position: relative;
    border: 4px solid #4f7588;

    .top-space{
      margin: 15px 0px;
    }

    .submit-btn{
      margin: 3em auto;
    }

    .header {
      padding: 10px 10px;
      font-size: 1.4em;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      color: #4f7588;
      .container {
        background: #ebebeb;
        padding: 12px;
      }
    }

    .btn-box{
      display:inline-grid;
      grid-template-columns: auto auto auto;
      float: right;
      position: absolute;
      bottom: 35px;
      right: 20px;
      foodie-button{
        border:none !important;
      }
      a{
        text-decoration: none;
        color:#fff;
      }
      .btn{
        padding: 4px 12px;
        font-size: 1.5rem;
        margin: 0px 5px;
        color:#fff;
        border: none;
        background-color: #1c5069;
      }
    }

    foodie-input[type="submit"] {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      padding: 10px;
      outline: 0;
      font-family: inherit;
      font-size: 0.95em;
      background: rgb(1, 29, 51);
      border-color: transparent;
      color: #fff;
      cursor: pointer;
    }

    foodie-input[type="submit"]:hover {
      background: #3d6486;
    }

    foodie-input[type="submit"]:focus {
      border-color: #05a;
    }

    .error-block{
      color: rgb(230, 14, 14);
      font-size: 12px;
      margin: 0px;
    }

    .has-error foodie-input[type="firstName"],
    .has-error foodie-input[type="lastName"],
    .has-error foodie-input[type="email"]
    .has-error foodie-input[type="password"] {
        border:2px solid rgb(216, 12, 12);
        color: rgb(230, 14, 14);
    }
  }
}
