<div class="register-wrapper">
  <div class="register">
    <header>
      <h1 class="header rgt-margin">{{'auth.register-tab' | translate}}</h1>
    </header>
    <main class="card-body">
        <form [formGroup]="authForm" class="container" (ngSubmit)="onSubmit()">
          <div class="top-space">
            <div [ngClass]="{ 'has-error': isSubmitted && formControls.firstName.errors }">
              <foodie-input type="text" label="{{'auth.first-name-text' | translate}}"(val-change)="onFirstNameClick($event.detail.value)" [outline]="true" aria-label="Enter First Name"></foodie-input>
            </div>
            <div *ngIf="isSubmitted && formControls.firstName.errors" class="error-block">
              <div *ngIf="formControls.firstName.errors.required">{{'auth.first-name-validation' | translate}}</div>
            </div>
          </div>
          <div class="top-space">
            <div [ngClass]="{ 'has-error': isSubmitted && formControls.lastName.errors }">
              <foodie-input type="text" label="{{'auth.last-name-text' | translate}}" (val-change)="onLastNameClick($event.detail.value)" [outline]="true" aria-label="Enter Last Name"></foodie-input>
            </div>
            <div *ngIf="isSubmitted && formControls.lastName.errors" class="error-block">
              <div *ngIf="formControls.lastName.errors.required">{{'auth.last-name-validation' | translate}}</div>
            </div>
          </div>
          <div class="form-group top-space">
            <div [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <foodie-input type="email" label="{{'auth.email-text' | translate}}" (val-change)="onEmailClick($event.detail.value)" [outline]="true" aria-label="Enter Email"></foodie-input>
            </div>
            <div *ngIf="isSubmitted && formControls.email.errors" class="error-block">
              <div *ngIf="formControls.email.errors.required">{{'auth.email-validation' | translate}}</div>
            </div>
          </div>
          <div class="top-space">
            <div [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <foodie-input type="password" label="{{'auth.password-text' | translate}}" (val-change)="onPasswordClick($event.detail.value)" [outline]="true" aria-label="Enter Password"></foodie-input>
            </div>
            <div *ngIf="isSubmitted && formControls.password.errors" class="error-block">
              <div *ngIf="formControls.password.errors.required">{{'auth.password-validation' | translate}}</div>
            </div>
          </div>
          <div class="btn-box">
            <button class="btn" aria-label="Register" (click)="onSubmit()">{{'auth.register-tab' | translate}}</button>
            <div class="btn">
              <a routerLink="/login" class="btn-link" aria-label="Cancel" role="button">{{'product-operations.cancel-button' | translate}}</a>
            </div>
          </div>
        </form>
      </main>
  </div>
</div>
