.header{
    padding: 0.6250em;
    border: 1px solid #c1b9b9;
    background:  var(--background-tertiary);
    color: var(--foreground-quaternary);
    display: grid;
    grid-template-columns: 75% 25%;

    h1{
      text-align: center;
      margin: 0 0.625em;
    }
    button{
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      float: right;
      img{
        background-color: #1c5069;
        border-radius: 50%;
        width: 25px;
        height: 25px;
      }
    }
    // css for desktop view
    @media (min-width: 600px) {
      h1{
        padding-left: 275px;
      }
    }
  }
