
.card {
  padding: 0rem 1rem;
  background-color: var(--white);

  .class-wrapper{
    // border:1px solid #808080a3;
    border-radius: 5px;
    margin: 0px 10px;
    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }

    .info{
      padding: 1em 1.5em 2em;
      min-height: 150px;
      max-height: 150px;
      color: var(--text-color);
      p{
        margin-top: 0.25rem;
      }
    }
    .btn-wrapper{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 0 0 1rem;
      foodie-button{
        margin: 0 2rem;
      }
    }
  }
}
