
.card {
  width: 100%;
  background-color: var(--white);

  .class-wrapper{
    border:1px solid #808080a3;
    border-radius: 5px;
    margin: 0px 10px;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }

    .info{
      padding: 1em 1.5em 2em;
      min-height: 160px;
      max-height: 160px;
      color: var(--text-color);
      p{
        margin-top: 1em;
      }
    }
    .btn-wrapper{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 0 0 2rem;
      foodie-button{
        margin: 0 2rem;
      }
    }
  }
}
