<div class="modal-wrapper">
  <div class="modal-body">
    <header class="heading">
        <h1>{{'product-operations.edit-product-text' | translate}}</h1>
    </header>
    <form [formGroup]="editProductForm">
      <div class="input-wrapper">
          <input type="text" placeholder="{{'product-operations.heading-text' | translate}}" formControlName="heading" aria-label="Edit heading">
      </div>
      <div class="input-wrapper">
          <input type="text" placeholder="{{'product-operations.description-text' | translate}}" formControlName="description" aria-label="Edit description">
      </div>
      <div class="input-wrapper">
          <input type="text" placeholder="{{'product-operations.imageUrl-text' | translate}}" formControlName="imageUrl" aria-label="Edit imageUrl">
      </div>
    </form>
    <div class="btn-wrapper">
      <foodie-button  title = "{{'product-operations.update-button' | translate}}" (click)= "editProduct()" aria-label="Update Product"></foodie-button >
      <foodie-button  title = "Cancel" (click)= "Cancel()" aria-label="Cancel"></foodie-button>
    </div>
  </div>
</div>
