<div class="modal-wrapper">
  <div class="modal-body">
    <header class="heading">
      <h1>{{'product-operations.add-product-text' | translate}}</h1>
    </header>
    <form [formGroup]="addProductForm">
      <div class="input-wrapper">
        <input
          type="text"
          placeholder="{{'product-operations.heading-text' | translate}}"
          formControlName="heading"
          aria-label="Enter Heading"
        />
      </div>
      <div class="input-wrapper">
        <input
          type="text"
          placeholder="{{'product-operations.description-text' | translate}}"
          formControlName="description"
          aria-label="Enter description"
        />
      </div>
      <div class="input-wrapper">
        <input
          type="text"
          placeholder="{{'product-operations.imageUrl-text' | translate}}"
          formControlName="imageUrl"
          aria-label="Enter imageUrl"
        />
      </div>
    </form>
    <div class="btn-wrapper">
      <foodie-button title="{{'product-operations.add-product-text' | translate}}" (click)="addProduct()" tabindex="0" aria-label="Add Product"></foodie-button>
      <foodie-button title="{{'product-operations.cancel-button' | translate}}" (click)="Cancel()" aria-label="Cancel"></foodie-button>
    </div>
  </div>
</div>
