<div class="modal-wrapper">
  <div class="modal-body">
    <header class="heading">
      <h1>Add Product</h1>
    </header>
    <form [formGroup]="addProductForm">
      <div class="input-wrapper">
        <label for="heading">heading</label>
        <input
          type="text"
          placeholder="Enter Heading"
          formControlName="heading"
          aria-label="Enter Heading"
        />
      </div>
      <div class="input-wrapper">
        <label for="description">description</label>
        <input
          type="text"
          placeholder="Enter description"
          formControlName="description"
          aria-label="Enter description"
        />
      </div>
      <div class="input-wrapper">
        <label for="imageUrl">imageUrl</label>
        <input
          type="text"
          placeholder="Enter imageUrl"
          formControlName="imageUrl"
          aria-label="Enter imageUrl"
        />
      </div>
    </form>
    <div class="btn-wrapper">
      <foodie-button title="Add Product" (click)="addProduct()" tabindex="0" aria-label="Add Product"></foodie-button>
      <foodie-button title="Cancel" (click)="Cancel()" aria-label="Cancel"></foodie-button>
    </div>
  </div>
</div>
