<div class="login-wrapper">
  <div class="login">
    <header>
      <h1 class="header login-margin">{{'auth.login-tab' | translate}}</h1>
    </header>
    <main>
      <form [formGroup]="authForm" class="container" (ngSubmit)="onSubmit()">
        <div class="top-space">
          <div [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <foodie-input type="email" label="{{'auth.email-text' | translate}}" (val-change)="onEmailClick($event.detail.value)" [outline]="true" aria-label="Enter Email"></foodie-input>
          </div>
         <div *ngIf="isSubmitted && formControls.email.errors" class="error-block">
            <div *ngIf="formControls.email.errors.required">{{'auth.email-validation' | translate}}</div>
          </div>
        </div>
        <div class="top-space">
          <div [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <foodie-input type="password" label="{{'auth.password-text' | translate}}" (val-change)="onPasswordClick($event.detail.value)" [outline]="true" aria-label="Enter Password"></foodie-input>
          </div>
          <div *ngIf="isSubmitted && formControls.password.errors" class="error-block">
            <div *ngIf="formControls.password.errors.required">{{'auth.password-validation' | translate}}</div>
          </div>
        </div>
        <div class="submit-btn">
          <input type="submit" value="{{'auth.submit-button' | translate}}" aria-label="submit">
        </div>
        <div class="register-link">
            <a routerLink="/register" class="btn btn-link">{{'auth.registration-link' | translate}}</a>
        </div>
      </form>
    </main>
  </div>
</div>
