
.login-wrapper{
  display: grid;
  margin: auto;

  .login {
    width: 400px;
    height: 450px;
    margin: 4em auto;
    padding: 2em 1.5em;
    font-size: 1.40rem;
    border-radius: 4px;
    background: #4f7588;

    .top-space{
      margin: 15px 0px;
    }

    .submit-btn{
      margin: 3em auto;
    }

    .header {
      padding: 15px 10px;
      font-size: 1.4em;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      .container {
        background: #ebebeb;
        padding: 12px;
      }
    }
    .register-link{
      float:right;
      a{
        color:#fff;
      }
    }

    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      padding: 10px;
      outline: 0;
      font-family: inherit;
      font-size: 0.95em;
    }

    input[type="email"],
    input[type="password"] {
      background: #fff;
      border-color: #bbb;
      color: #555;
      &:focus{
        border-color: #888;
      }
    }

    input[type="submit"] {
      background: rgb(1, 29, 51);
      border-color: transparent;
      color: #fff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background: #3d6486;
    }

    input[type="submit"]:focus {
      border-color: #05a;
    }

    .error-block{
      color: rgb(230, 14, 14);
      margin: 5px 0px;
      font-size: 12px;
    }

    .has-error input[type="email"],
    .has-error input[type="password"] {
        border:2px solid rgb(216, 12, 12);
        color: rgb(230, 14, 14);
    }
  }
}
